
body {
    height: fit-content;
    width: 100vw;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Helvetica;
}

#landing {
    background: #efefef;
    width: 100%;
    height: 100dvh; /* For mobile devices. Dynamic view height. */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#landing nav {
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}
#landing nav a {
    text-decoration: none;
    color: black;
    padding: 0px 10px;
    font-family: 'Courier New', monospace;
}
#rubik {
    width: 30px;
    margin-right: auto;
    margin-left: 10px;
}

#headshot-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
}
#headshot{
    width: 62vw;
    border-radius: 50%;
}

#intro {
    width: fit-content;
    margin: 0px 30px 10px 30px;
}

#landing h1 {
    font-size: 70px;
    font-weight: normal;
    font-family: 'Courier New', monospace;
    margin: 0;
}

#landing h4 {
    margin-top: 20px;
    margin-bottom: 0px;
}
#landing p {
    margin-top: 0px;
}

